body{font-family: fantasy; background-color: crimson; text-decoration-color: mediumpurple}
h1{color: gold; background-color: antiquewhite}
p{color: aqua; font-family: sans-serif}
h2{color: peachpuff; font-family: monospace}